.my-card-image {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my-left {
    display: table-cell;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.my-right {
    display: table-cell;
    border-top: 1px solid black;
    vertical-align: top;
}

.my-title,
.my-description {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    
}